## ignorance is bliss

**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/*.map
/*.log
/.env
/.idea/
/.vscode/*
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/extensions.json
!/.vscode/tasks.json
/deploy/config.php
/.graphql-generated/*
/public/_graphql/admin.types.graphql
/public/.well-known/
/public/assets/
/public/_resources/
/silverstripe-cache/*
!/silverstripe-cache/.gitignore
/vendor/
/app/todo**
/.phpunit.result.cache
