<?xml version="1.0" encoding="UTF-8"?>
<!--
PHPUnit configuration for SilverStripe

Requires PHPUnit 11+

Usage:
 - "vendor/bin/phpunit": Runs all tests in all folders
 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/": Run all tests of the framework module
 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/filesystem": Run all filesystem tests within framework
 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/filesystem/FolderTest.php": Run a single test
 - "vendor/bin/phpunit - -coverage-html assets/": Generate coverage report (requires xdebug or phpdbg)

More information:
 - https://phpunit.readthedocs.io/en/11.3/
 - https://docs.silverstripe.org/en/6/developer_guides/testing/

It is safe to remove this file for normal website operation.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/silverstripe/framework/tests/bootstrap.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd">
    <testsuites>
        <testsuite name="app">
            <!-- Add your app tests here when you create them -->
            <!-- <directory>app/tests</directory> -->
        </testsuite>

        <testsuite name="cms">
            <directory>vendor/silverstripe/cms/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">app/src</directory>
            <directory suffix=".php">vendor/silverstripe</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor/silverstripe/*/tests/</directory>
            <directory suffix=".php">vendor/silverstripe/*/thirdparty/</directory>
        </exclude>
    </source>
</phpunit>
