@import "includes/variables";
@import "includes/mixins";
@import "includes/defaults";
@import "includes/typography";

/* For CMS HtmlEditorField
---------------------------------------------------------------------------------- */

@font-face {
	font-family: "Figtree";
	font-style: normal;
	font-weight: $font-weight--normal;
	font-display: swap;
	src: local(""),
		url("/_resources/themes/default/dist/fonts/figtree-v5-latin-300.woff2") format('woff2');
}
@font-face {
	font-family: "Figtree";
	font-style: normal;
	font-weight: $font-weight--bold;
	font-display: swap;
	src: local(""),
		url("/_resources/themes/default/dist/fonts/figtree-v5-latin-600.woff2") format('woff2');
}

body.mce-content-body {
	@include smoothFonts;
	@include normal;
	font-family: #{$font-family};
	color: $text-color;
	font-size: $font-size;
	line-height: $lh;
	max-width: $inner-width;
	&.typography.width-reduced {
		max-width: $inner-width--reduced;
	}
	div.embed {
		.placeholder {
			width: 100% !important;
		}
	}
}

body.global-alert {
	background-color: $blue;
	> * {
		color: $white;
	}
	a {
		color: $red;
	}
}

body {
	&.background--transparent {
		background-color: transparent;
	}
	&.background--white {
		background-color: $white;
	}
	&.background--gray--lighter {
		background-color: $gray--lighter;
	}
}
