/* For CMS HtmlEditorField
---------------------------------------------------------------------------------- */

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: local(''),
		url("/_resources/themes/default/dist/fonts/ibm-plex-sans-v9-latin-200.woff2") format("woff2"),
		url("/_resources/themes/default/dist/fonts/ibm-plex-sans-v9-latin-200.woff") format("woff");
}
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
		url("/_resources/themes/default/dist/fonts/ibm-plex-sans-v9-latin-regular.woff2") format("woff2"),
		url("/_resources/themes/default/dist/fonts/ibm-plex-sans-v9-latin-regular.woff") format("woff");
}

@import 'includes/variables';
@import 'includes/mixins';
@import 'includes/typography';

body.mce-content-body {
	@include smoothFonts;
	@include normal;
	font-family: $font-family;
    color: $text-color;
	font-size: $font-size;
    line-height: $lh;
	&.typography {
		max-width: $inner-width--reduced;
	}
	div.embed {
		.placeholder {
			width: 100% !important;
		}
	}
}

body.global-alert {
	background-color: $blue;
	>* {
		color: $white;
	}
	a {
		color: $red;
	}
}
