@use "sass:math";
@import 'includes/variables';
@import 'includes/defaults';
@import 'includes/mixins';
@import '~breakpoint-sass/stylesheets/breakpoint';

/* Layout: footer
---------------------------------------------------------------------------------- */
body > footer {
	flex-shrink: 0;
	padding: 0;
	font-size: .9em;
	a {
		text-decoration: none;
		color: $link-color;
		&:hover {
			color: $current-color
		}
	}
	.upper {
		background-color: $gray-lighter;
		padding: #{$lh*1.5}em 0;
		@include breakpoint($Lneg) {
			padding-bottom: #{$lh*2}em;
		}
		@include breakpoint($Mneg) {
			padding-top: #{$lh*1.5}em;
			padding-bottom: #{$lh*.5}em;
		}
		.inner {
			display: flex;
			flex-wrap: wrap;
		}
		.column {
			flex: 0 0 percentage(math.div(1,3));
			@include breakpoint($Lneg) {
				flex: 0 0 100%;
				margin-bottom: #{$lh}em;
			}
		}
		.logo {
			display: flex;
			flex-direction: column;
			flex: 0 1 50%;
			a:not(.socialize) {
				img {
					width: #{$lh*2}em;
				}
			}
		}
		.coord {
			flex-grow: 1;
			align-self: flex-end;
			span, a {
				display: block;
				margin-right: #{math.div($lh, 2)}em;
			}
			a {
				margin-top: #{$lh}em;
			}
		}
		.inprint {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			nav {
				display: flex;
				flex-direction: column;
				a {
					display: inline-block;
					margin-bottom: #{$lh}em;
					color: $lauftext-color;
					// @include separated();
					&.current {
						@include bold;
					}
					&:not(:last-of-type) {
						margin-right: #{$lh}em;
					}
				}
			}
		}
		.copyright {
			margin-top: auto;
		}
	}
	.lowest {
		padding: #{$lh*1.5}em 0 #{$lh*1.3}em;
		display: table;
		width: 100%;
		background-color: mix($blue, $black, 50%);
		background-color: $blue;
		@include breakpoint($Sneg) {
			margin-bottom: $headerheight--small;
		}
		.inner {
			text-align: center;
			color: $white;
		}
	}
}
