@use "sass:math";
@import "includes/variables";
@import "includes/mixins";
@import "~breakpoint-sass/stylesheets/breakpoint";

/* Layout: footer
---------------------------------------------------------------------------------- */
body > footer {
	flex-shrink: 0;
	background-color: $black;
	padding: #{$lh * 2}em 0;
	.inner {
		// font-size: $font-size--small;
		display: grid;
		align-items: end;
		grid-template-columns: 1fr 1fr 1fr;
		gap: #{$lh * 2}em;
		@include breakpoint($XLneg) {
			grid-template-columns: 1fr 1fr;
		}
		@include breakpoint($Mneg) {
			grid-template-columns: 1fr;
		}
	}
	.column {
		display: flex;
		flex-direction: column;
		column-gap: #{$lh}em;
		color: $white;
		p {
			margin: 0 0 #{$lh}em 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: $white;
			text-decoration: none;
			margin-top: #{math.div($lh, 2)}em;
			margin-bottom: #{math.div($lh, 2)}em;
			&:last-child {
				margin-bottom: 0;
			}
			&.current,
			&:hover {
				color: $current-color;
			}
		}
		a:first-child,
		a + a {
			margin-top: 0;
		}
	}
	.coord {
	}
	nav.inprint {
		display: flex;
		column-gap: #{$lh}em;
		flex-direction: column;
		a {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.social-icons {
		margin-top: #{math.div($lh, 2) * 3}em;
		a {
			margin: 0;
			img {
				width: 1.2em;
			}
		}
	}
}
