@use "sass:math";
@import "includes/variables";
@import "includes/mixins";
@import "~breakpoint-sass/stylesheets/breakpoint";

/* Layout: footer
---------------------------------------------------------------------------------- */
body > footer {
	flex-shrink: 0;
	background-color: $black;
	padding: #{$lh * 1.5}em 0 #{$lh * 1.5}em;
	// font-size: $font-size--small;
	p {
		margin: 0 0 #{$lh}em 0;
	}
	.inner {
		display: flex;
		flex-wrap: wrap;
		gap: #{$lh}em;
		row-gap: #{math.div($lh, 4)}em;
	}
	.column {
		display: flex;
		flex: 1 1 auto;
		column-gap: #{$lh}em;
		@include breakpoint($XLneg) {
			flex: 0 0 100% !important;
		}
		span,
		a {
			color: $white;
		}
		a {
			text-decoration: none;
			&:hover {
				color: $current-color;
			}
		}
		a + a {
			margin-top: #{math.div($lh, 2)}em;
		}
	}
	.coord {
		flex-basis: 40%;
		margin-right: auto;
		flex-direction: column;
	}
	.inprint {
		flex-basis: 40%;
		margin-right: 0;
		margin-left: auto;
		justify-content: flex-end;
		flex-direction: column;
		@include breakpoint($XLneg) {
			justify-content: flex-start;
			margin-left: 0;
		}
		nav {
			display: flex;
			flex-wrap: wrap;
			gap: #{math.div($lh, 2)}em;
			a {
				margin: 0;
				// @include separated();
				&.current {
					color: $current-color;
				}
			}
		}
	}
	.social {
		justify-content: center;
		line-height: 1;
		$padding: $lh - 1;
		padding: #{$padding * .7}em 0 #{$padding * .3}em;
		@include breakpoint($XLneg) {
			padding: #{$padding * .7 + math.div($lh, 2)}em 0 #{$padding * .3 + math.div($lh, 2)}em;
			justify-content: flex-start;
		}
	}
}
