@use "sass:math";
@import "includes/variables";
@import "includes/defaults";
@import "includes/mixins";
@import "~breakpoint-sass/stylesheets/breakpoint";

.element.elementgallery {
	ul.gallery {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: #{$lh}em;
		justify-content: center;
		padding: #{$lh}em 0 0 0;
		@include breakpoint($Mneg) {
			gap: #{math.div($lh, 2)}em;
			grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		}
		li {
			padding: 0;
			margin: 0;
			a {
				display: flex;
				img {
					margin: 0;
					width: 100%;
					&:hover {
						opacity: 0.9;
					}
				}
			}
		}
	}
	.swiper-container.multiple {
		@include breakpoint($XLneg) {
			overflow-x: hidden;
		}
		.swiper-wrapper {
			.swiper-slide {
				width: auto;
				height: 500px;
				@include breakpoint($Lneg) {
					height: 400px;
				}
				@include breakpoint($Mneg) {
					height: 240px;
				}
				img {
					display: table;
					height: 100%;
					width: auto;
					margin-bottom: 0;
				}
			}
		}
	}
}
body.compensate-for-scrollbar {
	overflow-y: initial;
}
