@use "sass:math";
@import 'includes/variables';
@import 'includes/defaults';
@import 'includes/mixins';
@import '~breakpoint-sass/stylesheets/breakpoint';

.element.elementgallery {
	ul.gallery {
		list-style: none;
		display: flex;
		gap: #{$lh}em;
		flex-wrap: wrap;
		justify-content: center;
		padding: #{$lh}em 0 0 0;
		@include breakpoint($Mneg) {
			gap: #{math.div($lh, 2)}em;
		}
		&.left {
			justify-content: flex-start;
		}
		&.center {
			justify-content: center;
		}
		&.right {
			justify-content: right;
		}
		li {
			flex: 0 0 auto;
			padding-left: 0;
			padding-bottom : 0;
			margin: 0;
			a {
				display: table;
				width: 100%;
				float: left;
				img {
					float: left;
					margin-bottom: 0;
					width: 100%;
					@include breakpoint($Mneg) {
						max-width: 125px;
					}
					&:hover {
						opacity: .9;
					}
				}
			}
		}
	}
	.swiper-container.multiple {
		@include breakpoint($XLneg) {
			overflow-x: hidden;
		}
		.swiper-wrapper {
			.swiper-slide {
				width: auto;
				@include breakpoint($Lneg) {
					height: 500px;
				}
				@include breakpoint($Mneg) {
					height: 400px;
				}
				@include breakpoint($Mneg) {
					height: 240px;
				}
				img {
					display: table;
					height: 100%;
					width: auto;
					margin-bottom: 0;
				}
			}
		}
	}
}
body.compensate-for-scrollbar {
	overflow-y: initial;
}
