@use "sass:math";
@import "includes/variables";
@import "includes/mixins";
@import "~breakpoint-sass/stylesheets/breakpoint";

.element.elementjobs {
	.jobs {
		.job {
			color: $text-color;
			display: grid;
			gap: #{$lh}em;
			grid-template-columns: auto 1fr;
			margin: #{$lh}em 0;
			box-shadow: 0 0 .2em rgba($black, .25);
			padding: #{$lh*.5}em #{$lh*1}em;
			border-left: solid $link-color #{$lh*.333}em;
			figure {
				margin: 0;
				grid-column: 1 / 2;
			}
			.txt {
				grid-column: 2 / 3;
				h3 {
					margin-bottom: 0;
				}
				p {
					margin-bottom: 0;
				}
			}
			.forth {
				margin: auto 0 auto auto;
				&::after {
					margin-right: 1.1em;
				}
				&:hover {
					&::after {
						margin-right: 0;
					}
				}
			}
			&:hover {
				.forth {
					color: $link-color;
				}
			}
		}
	}
}
