/* CMS tweaks
-------------------------------------------------------------------------------- */
/* @font-face {
	font-family: "icons";
	src: url("/_resources/app/fonts/icons.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

[action*="SocialLinks/item"] #Form_ItemEditForm_Icon_Holder ul.chosen-results li,
[action*="SocialLinks/item"] #Form_ItemEditForm_Icon_chosen a span {
	line-height: 1.4;
	font-size: 18px;
	font-family: "icons" !important;
	font-style: light !important;
	font-weight: light !important;
	font-variant: light !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[action*="SocialLinks/item"] #Form_ItemEditForm_Icon_chosen a span {
	vertical-align: -6px;
	display: inline;
} */

.cms-edit-form .form-group.htmleditor.stacked .form__field-holder,
.form--inline .form-group.htmleditor.stacked .form__field-holder,
.ss-insert-link .form__fieldgroup .form-group.htmleditor.stacked .form__field-holder {
	max-width: none !important;
}


#Form_AddForm_PageType .disabled {
	display: none !important;
}

.icon.icon-16 {
	background-size: 16px auto;
}

.checkboxleft {
	padding-left: 0 !important;
}

.checkboxleft label {
	font-weight: bold !important;
}

fieldset.grid {
	margin-bottom: 2rem;
}

.grid-field__title {
	font-weight: 500;
	margin-bottom: .7em;
}

/* Title-Level Field in Elements */
#Form_ItemEditForm_TitleLevelTitle {
	display: flex;
}
#Form_ItemEditForm_TitleLevel_Holder {
	flex: 0 0 110px;
	margin-right: 1em;
}
#Form_ItemEditForm_Title_Holder {
	flex: 1 1 auto;
}

/* Blog summary - https://github.com/silverstripe/silverstripe-blog/issues/485 */
.custom-summary .ui-accordion-content .field {
	margin-left: 0;
}
.custom-summary .ui-accordion-content .field:last-of-type::after {
	display: none;
}
.custom-summary .ui-accordion-content .field .form__field-holder {
	margin-left: 0;
	max-width: calc(100% - 2px);
	flex: initial;
	padding-left: 0;
	padding-right: 0;
}
/* if HTMLEditor is stacked */
.custom-summary .ui-accordion-content .field .mce-container {
	max-width: calc(100% - 2px);
}

.ss-toggle .ui-accordion-content,
.ss-toggle .ui-accordion-content .field {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.ss-toggle .ui-accordion-content .field:last-of-type::after {
	border-width: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.ss-toggle .ui-accordion-content .field .form__field-extra-label {
	margin-right: 0;
	margin-left: initial;
}

/* transparent background */
ul#Form_ItemEditForm_BackgroundColor li label[for$="transparent"] {
	background: url("/_resources/themes/default/dist/assets/transparent-CWJknA7h.png") transparent repeat !important;
	background-size: 200% auto !important;
}

/* prevent description being shown inline */
#Form_ItemEditForm_Title_Holder .form__field-description {
	width: 100%;
}

/* thumbnail ElementLogo, ProductPage, etc. */
.col-LogoImage-PreviewThumbnail img,
.col-PreviewThumbnail svg,
.col-Logo-PreviewThumbnail img {
	max-width: 140px;
	height: auto;
}

/* prevent description being shown inline */
#Form_ItemEditForm_Title_Holder .form__field-description {
	width: 100%;
}

/* We've put title in a FieldGroup instead of a CompositeField in order to show validation errors */
#Form_ItemEditForm_TitleLevelTitle {
	flex-wrap: wrap;
}

#Form_ItemEditForm_TitleLevelTitle .alert {
	flex: 1 1 100%;
}

#Form_ItemEditForm_Title_Holder.CompositeField > [for="Form_ItemEditForm_Title"] {
	display: none;
}

#Form_ItemEditForm_Title_Holder.CompositeField .form__fieldgroup {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	align-items: stretch;
	width: 100%;
	max-width: initial;
	padding: 0;
}

#Form_ItemEditForm_Title_Holder.CompositeField .form__fieldgroup-item {
	margin-right: 0;
	padding-left: 0;
	margin-left: -1px;
	min-width: initial;
}

#Form_ItemEditForm_Title {
	margin-left: 0;
}

#Form_ItemEditForm_Title_Holder.CompositeField .form-check-label {
	display: flex;
	align-items: center;
	padding: .5385rem .7692rem;
	margin-bottom: 0;
	margin-top: 18px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5384;
	color: #566b8d;
	text-align: center;
	white-space: nowrap;
	background-color: #eef0f4;
	border: 1px solid #ced5e1;
	border-top-right-radius: .23rem;
	border-bottom-right-radius: .23rem;
}

.grecaptcha-badge {
	visibility: hidden;
}
