/* https://gwfh.mranftl.com/fonts */
/* Note: CSS custom properties are not supported inside @font-face, use literal values */
@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/figtree-v9-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Figtree";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("../fonts/figtree-v9-latin-600.woff2") format("woff2");
}
