@import "./custom-media.css";

.element.elementcontentsection {
	--trigger-size: 0.75;
	--trigger-color: var(--text-color);
	--spacing-factor: 1.5;

	.content-parts {
		list-style: none;
		padding-left: 0;

		&.accordion {
			/* border-bottom: 2px solid var(--text-color); */
			/* max-width: calc(var(--inner-width) - 200px); */
			details {
				position: relative;
				scroll-margin-top: var(--headerheight);
				border-top: 2px solid var(--gray);
				&:first-of-type {
					border-top: none;
				}
				&:not(:first-of-type) {
					padding: calc(var(--lh) * 1em) 0 0 0;
				}
				@media (--cm-l-neg) {
					flex: 0 0 100%;
				}
				summary {
					cursor: pointer;
					outline: none;
					list-style: none;
					&::marker,
					&::-webkit-details-marker {
						display: none;
						content: "";
					}
					h1, h2, h3 {
						margin-bottom: 0;
						display: flex;
						width: 100%;
						padding-bottom: calc(var(--lh) * 1rem);
						.trigger {
							width: calc(var(--trigger-size) * 2 * 1em); /* calc(var(--trigger-size) * 1 * 1em) */
							height: calc(var(--trigger-size) * 1 * 1em);
							flex: 0 0 calc(var(--trigger-size) * 2 * 1em);
							margin: auto 0 auto auto;
							transform: scale(1);
							transform-origin: center center;
							transition: transform 0.1s ease-in-out;
							/* margin: -0.2em 0 auto auto; */
							/* transition: transform 0.1s ease-in-out; */
							/* transform: rotate(0deg); */
							.line {
								transition: transform 0.1s ease-in-out;
								transform: translateX(0%);
								stroke: var(--trigger-color);
								stroke-width: 40;
								stroke-linecap: square;
							}
						}
						&:focus {
							color: var(--current-color);
							.trigger {
								.line {
									stroke: var(--current-color);
								}
							}
						}
					}
				}
				.content {
					padding: 0 calc(var(--lh) * 2 * 1em) calc(var(--lh) * 0.5 * 1em) 0;
					margin-left: 0;
					/* is it selector-specificity that stops in & out animation - just in right now? */
					font-size: 0;
					line-height: 0em;
					opacity: 0;
					transition: opacity 0.3s ease 0.1s, line-height 0.2s ease, font-size 0.2s ease;
					> p:last-child {
						margin-bottom: 0;
					}
				}
				&[open] {
					summary {
						h1, h2, h3 {
							color: var(--current-color);
							.trigger {
								transform: scale(1.16);
								.line {
									stroke: var(--current-color);
									&.first {
										transform: translateX(21.25%) translateY(0%);
									}
									&.second {
										transform: translateX(-21.25%) translateY(0%);
									}
								}
							}
						}
					}
					.content {
						font-size: var(--font-size);
						line-height: calc(var(--line-height) * 1em);
						opacity: 1;
					}
				}
			}
		}
		&.text-blocks {
			display: grid;
			max-width: initial;
			grid-gap: calc(var(--lh) * 1em);
			grid-template-columns: 1fr 1fr;
			@media (--cm-l-neg) {
				grid-template-columns: 1fr;
			}
			li {
				padding: calc(var(--lh) * 1em) calc(var(--lh) * 1em) calc(var(--lh) / 2 * 1em) calc(var(--lh) * 1em);
				background-color: var(--red);
				h2 {
					color: var(--white);
				}
				* {
					color: var(--white);
				}
				@media (--cm-l-plus) {
					&:nth-of-type(4n + 1),
					&:nth-of-type(4n) {
						background-color: var(--blue);
					}
				}
				@media (--cm-l-neg) {
					background-color: var(--blue);
					&:nth-of-type(2n) {
						background-color: var(--red);
					}
				}
			}
		}
		&.numbered-list {
			list-style: none;
			display: grid;
			grid-template-rows: 1fr;
			row-gap: calc(var(--lh) * 1em);
			/* @media (--cm-m-neg) {
				row-gap: calc(var(--lh) / 2 * 1em);
			} */
			li {
				display: grid;
				grid-template-columns: calc(var(--lh) * 3 * 1em) 1fr;
				column-gap: calc(var(--lh) * 1em);
				padding: 0;
				@media (--cm-m-neg) {
					grid-template-columns: calc(var(--lh) * 2 * 1em) 1fr;
					column-gap: calc(var(--lh) / 2 * 1em);
				}
			}
			.number {
				display: block;
				width: 100%;
				background-color: var(--blue);
				color: var(--white);
				display: flex;
				aspect-ratio: 1/1;
				font-size: 2em;
				border-radius: 0.1em;
				justify-content: center;
				text-align: center;
				align-items: center;
				align-self: top;
				margin: 0 auto 0 0;
				font-weight: var(--font-weight--bold);
				line-height: 1;
				@media (--cm-m-neg) {
					font-size: 1.6em;
				}
			}
			.txt {
				h1,
				h2,
				h3 {
					margin-bottom: calc(var(--lh) / 4 * 1em);
					line-height: 1;
				}
				> *:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
