@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css";

.fancybox__dialog {
	z-index: 9001;
}

.fancybox__container.is-compact {
	--f-caption-padding: var(--spacing);
}

.fancybox__slide {
	padding: var(--spacing);
}
