/* @import "variables.css"; */
@import "custom-media.css";

.element.elementlogo {
	/* Logo element styles with configurable dimensions */
	--logo-width: 300px;
	--logo-height: 100px;

	ul.logos {
		padding: calc(var(--lh) * 1em) 0 0;
		margin: 0;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(var(--logo-width), 1fr));
		grid-gap: calc(var(--lh) * 1em);

		&.greyscale li.logo figure img {
			filter: grayscale(100%) saturate(.8);
			transition-property: filter;
			transition-duration: 0.2s;
		}

		li.logo {
			min-width: var(--logo-width);
			min-height: var(--logo-height);
			padding: 0;
			/* background-color: oklch(from var(--gray--light) l c h / 0.3); */
			transition-property: background-color;
			transition-duration: 0.4s;

			&,
			& > a {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
			}

			figure {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				margin: 0;

				img {
					margin: 0;
					transition-property: filter;
					transition-duration: 0.2s;
					max-width: 180px;
					max-height: 80px;
					height: auto;
				}
			}

			&.has-link:hover {
				/* background-color: oklch(from var(--gray--light) l c h / 0.6); */

				img {
					filter: grayscale(0%);
				}
			}
		}
	}
	.swiper-container {
		overflow-x: hidden;
		.swiper-wrapper {
			transition-timing-function: linear;
		}
		ul.logos {
			display: flex;
			gap: 0;
			/* transform: translate3d(-240px, 0px, 0px) !important; */
			li.logo {
				width: var(--logo-width) !important;
			}
		}
	}
}
