.element.elementperso {

	display: grid;

	.cat-tag {
		position: relative;
		padding-block: 1lh 1.5lh;
		justify-content: flex-start;
		/* @media (--cm-l-plus) {
			font-size: var(--font-size--small);
		} */
	}

	.persos {
		display: grid;
		column-gap: 1lh;
		row-gap: 1.5lh;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(1lh, 1fr));
		margin-bottom: 2lh;
		position: relative;
	}

	.perso {
		position: relative;
		z-index: 1;
		margin: 0;
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		scroll-margin-top: var(--headerheight);
		transition: opacity 0.1s ease, transform 0.1s ease, display 0.1s allow-discrete;
		&.hidden {
			opacity: 0;
			transform: scale(0.85);
			pointer-events: none;
			display: none;
		}
		@starting-style {
			&.hidden {
				opacity: 1;
				transform: scale(1);
			}
		}
		figure {
			margin: 0;
			position: relative;
			img {
				width: 100%;
				margin-bottom: 0;
				display: flex;
				/* padding-bottom: 1lh; */
				&.default {
					background-color: var(--gray--light);
				}
			}
			.qr-code {
				position: absolute;
				inset: auto 0 0 auto;
				width: 2.5lh;
				height: 2.5lh;
				z-index: 1;
				border-left: .1em solid var(--white);
				border-top: .1em solid var(--white);
			}
		}

		.txt {
			padding: 0.5em 0;
			display: flex;
			flex-direction: column;
			border-top: none;
			flex-grow: 1;

			h2 {
				margin: 0;
				font-size: 1em;
			}
			.position {
				margin: 0 0 calc(1lh / 2) 0;
				@media (--cm-l-plus) {
					font-size: var(--font-size--small);
				}
			}
			p {
				margin-bottom: 0;
			}
		}
	}

	.coordinates {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto auto 0 0;
		font-style: normal; /* adderss is italice by default */
		@media (--cm-l-plus) {
			font-size: var(--font-size--small);
		}
		a {
			color: var(--text-color);
			&[href^="mailto:"],
			&[href^="tel:"],
			&[class] {
				padding-left: 1lh;
				background-repeat: no-repeat;
				background-position: left 50%;
				background-size: auto 1em;
				text-decoration: none;
				&:not(:last-of-type) {
					margin-right: 0.5lh;
				}
			}
		}

		a + a {
			margin-top: 0.5lh;
		}

		a.vcard {
			background-image: svg-load('vcard.svg', fill=#000, stroke=#000);
			background-size: auto .8em;
		}
		a[href^="mailto:"] {
			background-image: svg-load('mail.svg', stroke=#000);
		}
		a[href^="tel:"] {
			background-image: svg-load('phone.svg', stroke=#000);
		}
		a.qrcode {
			background-image: svg-load('qr-code-outline.svg', fill=#000, stroke=#000);
		}
		a.qrcode {
			background-image: svg-load('qr-code-outline.svg', fill=#000, stroke=#000);
		}
		a:not([class]) {
			margin: 0 0 0 auto;
		}
	}

	&.details {
		hgroup {
			margin-block: 2lh 2lh;
			h1 {
				margin: 0;
			}
			p {
				font-size: clamp(1.2em, 4vw, 1.41em);
				margin-block: 0 0.5lh;
			}
		}
		.column {
			display: grid;
			grid-template-columns: minmax(300px, 1fr) 2fr;
			gap: 1lh;
			margin-bottom: 2lh;
			.coordinates {
				display: flex;
				flex-direction: column;
				gap: 0.5lh;
				a {
					text-decoration: none;
				}
			}
		}
		.link.back {
			text-decoration: none;
		}
	}
}
