/* Person CFA component - Contact information layout for staff */

.element.elementpersocfa {
	.typography {
		.persos {
			overflow: hidden;
			.perso {
				display: grid;
				width: 100%;
				grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
				grid-auto-rows: auto;
				gap: 1lh;

				&.left {
					figure {
						@media (--cm-l-plus) {
							order: 99
						}
					}
				}
			}
		}

		figure {
			margin: 0;
			img {
				width: 100%;
				margin: 0;
				display: flex;
			}
		}

		.txt {
			display: flex;
			flex-direction: column;

			.element-title {
				flex: 0 0 auto;
			}

			.name {
				margin-top: auto;
			}

			p {
				margin-bottom: 0.5lh;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			a {
				display: block;
				color: var(--link-color);
				&[class] {
					padding-left: 1lh;
					background-repeat: no-repeat;
					background-position: left 50%;
					background-size: auto 1em;
				}
			}

			a.vcard {
				background-image: svg-load('vcard.svg', fill=currentColor, stroke=currentColor);
				background-size: auto .8em;
			}
			a.mail {
				background-image: svg-load('mail.svg', stroke=currentColor);
			}
			a.phone {
				background-image: svg-load('phone.svg', stroke=currentColor);
			}
			a.qrcode {
				background-image: svg-load('qr-code-outline.svg', fill=currentColor, stroke=currentColor);
			}

			a + a {
				margin-top: 0.5lh;
			}
		}
	}

	.persos {
		display: grid;
		gap: 1lh;
		grid-template-columns: minmax(200px, 1fr);
	}
}
