@import "custom-media.css";
@import "variables.css";

/* Person CFA component - Contact information layout for staff */

.element.elementpersocfa {
	.typography {
		.persos .perso {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
			grid-auto-rows: auto;
			gap: calc(var(--lh) * 1em);

			&.left {
				figure {
					@media (--cm-l-plus) {
						order: 99
					}
				}
			}
		}

		figure {
			margin: 0;
			img {
				width: 100%;
				margin: 0;
				display: flex;
			}
		}

		.txt {
			display: flex;
			flex-direction: column;

			.element-title {
				flex: 0 0 auto;
			}

			.name {
				margin-top: auto;
			}

			p {
				margin-bottom: calc(var(--lh) * 0.5 * 1em);

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			a {
				display: block;
				color: var(--link-color);
				&[class] {
					padding-left: calc(var(--lh) * 1em);
					background-repeat: no-repeat;
					background-position: left 50%;
					background-size: auto 1em;
				}
			}

			a.vcard {
				background-image: svg-load('vcard.svg', fill=currentColor, stroke=currentColor);
				background-size: auto .8em;
			}
			a.mail {
				background-image: svg-load('mail.svg', stroke=currentColor);
			}
			a.phone {
				background-image: svg-load('phone.svg', stroke=currentColor);
			}
			a.qrcode {
				background-image: svg-load('qr-code-outline.svg', fill=currentColor, stroke=currentColor);
			}

			a + a {
				margin-top: calc(var(--lh) / 2 * 1em);
			}
		}
	}

	.persos {
		display: grid;
		gap: calc(var(--lh) * 1em);
		grid-template-columns: minmax(200px, 1fr);
	}
}
