@import "custom-media.css";
/* @import "variables.css"; */

/* Person CFA component - Contact information layout for staff */

.element.elementpersocfa {
	.typography {
		.persos .perso {
			display: grid;
			grid-template-columns: minmax(300px, 4fr) minmax(300px, 6fr);
			grid-auto-rows: auto;
			gap: calc(var(--lh) * 1em);

			@media (--cm-m-neg) {
				grid-template-columns: 1fr;
				width: 100%;
			}
		}

		figure {
			margin: 0;

			img {
				width: 100%;
				margin: 0;
				display: flex;
			}
		}

		.txt {
			display: flex;
			flex-direction: column;

			.element-title {
				flex: 0 0 auto;
			}

			.name {
				margin-top: auto;
			}

			p {
				margin-bottom: calc(var(--lh) * 0.5 * 1em);

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			a {
				display: block;
			}

			a + a {
				margin-top: calc(var(--lh) / 2 * 1em);
			}
		}
	}

	.persos {
		display: grid;
		gap: calc(var(--lh) * 1em);
		grid-template-columns: minmax(200px, 1fr);
	}

	.coordinates {
		margin-bottom: 0;

		a {
			display: block;
		}

		a + a {
			margin-top: calc(var(--lh) * 0.5 * 1em);
		}
	}
}
