body {
	margin: 0;
}

/*
Andy Bell
https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 7em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href],
area[href],
details summary,
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
button:not([disabled]),
[tabindex] {
    /* [contentEditable=true] adds outline also in TinyMCE */
    &:not([tabindex='-1']) {
        outline: none;
        &:focus-visible {
            outline: 2px solid var(--link-color);
        }
    }
}

input,
button,
select,
textarea {
	font: inherit;
}

/* sometimes referred to as .sr-only
   https://www.scottohara.me/blog/2023/03/21/visually-hidden-hack.html */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a[href^="tel"],
a[href^="x-apple-data-detectors:"] {
	color: inherit;
	text-decoration: inherit;
	white-space: nowrap;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
