form {
	&#Form_Form {
		padding: 0px 0 50px 0;
		width: 100%;
	}
	.userform-fields,
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
		// userform groups
		fieldset.userformsgroup {
			padding: 0;
			border: none;
			border-radius: 0;
			margin-bottom: 0;
			legend {
				@include bold;
				padding: #{$lh/2}em 0;
			}
			>.middleColumn>div {
				margin-bottom: #{$lh}em;
				padding-bottom: #{$lh}em;
			}
			>.middleColumn {
				&>div:first-child {
					&::before {
						// position: absolute;
						content: "";
						display: block;
						width: calc(200% + #{$lh}em);
						height: 0;
						border-top: 1px solid $link-color;
						margin-top: -#{$lh}em;
						margin-bottom: #{$lh}em;
					}
				}
				&>div:first-child {
					// since we add 1px height (border) with the ::before element flow would be screwed
					margin-bottom: -1px;
				}
			}
		}
		.field.userformsstep {
			margin: 0 0 0 #{$lh}em;
		}
        .field {
            float: left;
            display: block;
			width: 100%;
			max-width: calc(100% - #{$lh}em);
			margin: 0 0 #{$lh}em 0;
			&.half-width {
				width: calc(50% - #{$lh}em);
				margin-right: #{$lh}em;
				@include breakpoint($Mneg) {
					width: 100%;
					margin-right: 0;
				}
			}
			&.auto-width {
				width: auto;
				margin-right: .3em;
				@include breakpoint($Sneg) {
					margin-right: 0;
					width: 100%;
				}
			}
			&.checkboxset.quarter-width-checkbox {
				.middleColumn {
					display: flex;
					flex-wrap: wrap;
					>div {
						flex: 0 0 calc(#{percentage(1/4)} - #{$lh/2}em);
						margin: 0 #{$lh/2}em #{$lh/2}em 0;
					}
				}
				@include breakpoint($Mneg) {
					.middleColumn {
						>div {
							flex: 0 0 calc(#{percentage(1/2)} - #{$lh/2}em);
						}
					}
				}
				@include breakpoint($Sneg) {
					.middleColumn {
						>div {
							flex: 0 0 100%;
							margin: 0 0 #{$lh/2}em 0;
						}
					}
				}
			}
            label {
                color: $lauftext-color;
                margin-bottom: #{$lh/4}em;
                &.left {
					display: block;
					font-weight: normal;
					font-size: .8em;
                }
                &.right {}
                &.required {
                    display: none !important;
                }
            }
            .middleColumn {
            	float: left;
                width:100% !important;
                background: none;
                input.text,
                textarea,
                .textajaxuniquetext,
                select {
                    width: 100%;
                    padding: 6px 5px;
                    background-color: $gray-lighter;
                    border: 1px solid $gray-lighter;
                    color: $lauftext-color;
                    @include normal; // dropdown needs this
                }
                input.text:focus,
                textarea:focus,
                .textajaxuniquetext:focus,
                select:focus {
                    outline: none;
                }
                input[disabled], form textarea[disabled] {
                    background-color: #f7f7f7;
                    border: 1px solid #dad9d9;
                }
                textarea {
                    resize: vertical;
                }
                .checkbox, .radio {
                    input {
                        float: left;
                        width: 13px;
                        height: 13px;
                        margin-right: 6px;
                        margin-top: 6px;
                        padding: 0;
                    }
                    & label.right {
                        float: left;
                    }
                }
				[type="date"] {
					box-sizing: content-box;
					@include normal;
					appearance: none;
					height: 1.15em;
					&:datetime-edit {
						padding: 0;
						padding: 0;
					}
					&:calendar-picker-indicator {
						color: $black;
					}
				}
				.g-recaptcha {
					margin-top: #{$lh/2}em;
				}
			}
			&.dropdown .middleColumn select  {
				@include dropdown;
				font-size: .8em;
				line-height: 1.5;
			}
			&.hide {
				display: none;
			}
			&.userformsoptionset {
				$size: 16;
				.middleColumn div {
					position: relative;
					label {
						padding-left: 1.3em;
						font-size: .8em;
					}
					input[type=radio] {
						position: absolute;
						visibility: hidden;
						&:checked ~ .radio-check {
							border: #{$size/5}px solid $link-color;
						}
						&:checked ~ .radio-check::before {
							background-color: $link-color;
						}
						&:checked ~ label {
							color: $link-color;
						}
					}
					.radio-check {
						pointer-events: none;
						display: block;
						position: absolute;
						border: #{$size/5}px solid $lauftext-color;
						border-radius: 100%;
						height: #{$size}px;
						width: #{$size}px;
						top: #{$size/3}px;
						left: 0;
						z-index: 5;
						transition: border .25s linear;
						border: #{$size/5}px solid $lauftext-color;
						&::before {
							display: block;
							position: absolute;
							content: '';
							border-radius: 100%;
							height: #{$size/2}px;
							width: #{$size/2}px;
							top: #{$size/20}px;
							left: #{$size/20}px;
							margin: auto;
							transition: background-color 0.25s linear;
						}
					}
				}
			}
			.right-title {
				font-size: .8em;
			}
		}
		fieldset.field {
			max-width: 100%;
		}
	}
	.message {
		background-color: rgba($link-color, .1);
		padding: 5px 10px;
		border: 1px solid rgba($link-color, 1);
		border-radius: 3px;
	}
	.good {
		background-color: #ecf9d0;
		border-color: #8fbe00;
	}
	.bad, .required {
		background-color: lighten($red, 45%) !important;
		border-color: $red !important;
		color: $lauftext-color !important;
	}
	body &.userform .left {
		@include normal;
		font-size: .8em;
	}
}

.Actions {
	margin-bottom: 20px;
	display: flex;
	a.btn,
	button,
	input[type="submit"],
	.Actions .action {
		background: $link-color;
		color: $white;
		display: inline-block;
		border-radius: .5em;
		padding: .7em 1.41em .6em;
		border: none;
		@include bold;
		margin: 10px auto;
	}
	a.btn:hover,
	button:hover,
	input[type="submit"]:hover,
	.Actions .action:hover {
		background: darken($link-color, 5%);
		color: $white;
	}
	a.btn {
		line-height: 18px;
		margin-bottom: 10px;
	}
	a.btn::after {
		content: '\2192';
		padding-left: 10px;
	}
	input.action[class] {
		width: auto;
	}

	.Actions::after {
		color: #B94A48;
		content: "* Pflichtfeld";
		display: inline-block;
		font-weight: normal;
		margin-top: 9px;
	}
	#MemberLoginForm_LoginForm .Actions::after {
		display: none;
	}
}


	#Remember {
		min-height: 20px;
	}
	#ForgotPassword {
		clear: left;
	}
	#MemberLoginForm_LostPasswordForm .Actions::after {
		display: none;
	}

.FormHeading {
	clear: both;
	padding-top: 15px;
}
.Actions input.resetformaction {
	float: left;
	background-color: #888;
}
.Actions input.resetformaction:hover {
	background-color: #aaa;
}


.checkbox label.right {
	font-size: 1em;
	color: $lauftext-color;
    float: left;
}
form .requiredField label.left::after {
	color: $lauftext-color;
	content: "*";
	font-weight: normal;
	padding-left: 3px;
}

/* Radio / Checkbox */
form .checkboxset ul,
form .optionset ul {
	margin: 0;
}
	form .checkboxset li,
	form .optionset li {
		margin-bottom: 5px;
		list-style-type: none;
	}
	form div.checkbox::after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	form .checkbox .checkbox {
		float:left;
		margin: .2em .3em 0 0;
	}

span.message {
	font-size: .8em;
	margin: 10px 0;
	display: block;
	clear: left;
}
div.holder-required {
	background-color: #f9d0d0;
	border: 1px solid #cf0000;
	padding: 10px;
	margin-left: -11px;
}
form input.holder-required {
	border: 1px solid #cf0000;
}

input:invalid,
textarea:invalid {
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
	background-color: #f0dddd
}
.ss-uploadfield-item-info button{
	margin-top: 4px !important;
	float: left;
}
form .file {
    color: $lauftext-color;
}

@media only screen and (max-width: 700px) {
	.header form .middleColumn {
		float: none;
		width: 100% !important;
	}
	form label.left,
	#MemberLoginForm_LoginForm label {
		margin-bottom: 8px
	}
}

@media only screen and (max-width: 900px) {
	form {
		max-width: 100%;
	}
}

@media only screen and (min-width: 700px) {

}
[type="submit"],
.action:not(.action-detail),
.action.new-link,
.btn,
.btn-large {
	font-size: 1em;
	text-decoration: none;
	color: $white;
	background-color: $link-color;
	text-align: center;
	transition: .2s ease-out;
	cursor: pointer;
	border-radius: .2em;
	margin-bottom: #{$lh}em;
	border-color: $link-color;
	display: inline-block;
	padding: .3em 1em .4em;
	-webkit-appearance: none;
	&:hover {
		background-color: $link-color;
	}
}
