@use "sass:math";

.element.elementgallery {
	ul.gallery {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: calc(100% + #{$lh}em);
		margin: 0 -#{math.div($lh, 2)}em;
		padding: 0;
		padding-top: #{$lh}em;
		text-align: center;
		&.left {
			justify-content: flex-start;
		}
		&.center {
			justify-content: center;
		}
		&.right {
			justify-content: right;
		}
		li {
			flex: 0 0 auto;
			padding-left: 0;
			padding-bottom : 0;
			margin: 0 #{math.div($lh, 2)}em #{$lh}em #{math.div($lh, 2)}em;
			a {
				display: table;
				width: 100%;
				float: left;
				img {
					float: left;
					margin-bottom: 0;
					width: 100%;
					&:hover {
						opacity: .9;
					}
				}
			}
		}
	}
	.swiper-container.multiple {
		@include breakpoint($XLneg) {
			overflow-x: hidden;
		}
		.swiper-wrapper {
			.swiper-slide {
				width: auto;
				@include breakpoint($Lneg) {
					height: 500px;
				}
				@include breakpoint($Mneg) {
					height: 400px;
				}
				@include breakpoint($Mneg) {
					height: 240px;
				}
				img {
					display: table;
					height: 100%;
					width: auto;
					margin-bottom: 0;
				}
			}
		}
	}
}
body.compensate-for-scrollbar {
	overflow-y: initial;
}
