@use "sass:math";
#header {
	nav {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		ul {
			display: flex;
			justify-content: flex-start;
			margin: auto 0;
			padding: 0;
			list-style: none;
			li {
				margin-right: auto;
				a {
					min-width: 100%;
					padding: .4em #{$lh}rem .3em;
					text-decoration: none;
					display: inline-block;
					outline: none;
					white-space: nowrap;
					color: $lauftext-color;
					position: relative;
					z-index: 1;
				}
				&:focus-within,
				&:hover,
				&.current,
				&.section {
					>a {
						color: $current-color;
					}
				}
			}
		}
		ul.menu1 {
			margin: auto 0 0 0;
			align-self: flex-end;
			@include breakpoint($Lneg) {
				display: none;
			}
			>li {
				position: relative;
				display: flex;
				padding-bottom: 1em;
				// bottom padding and negative margin for hoverstate
				// padding-bottom: 33px;
				// margin-bottom: -33px;
				&:focus-within,
				&:hover {
					// this is used to cover box-shadow on the upper part, that overlaps with header
					&::after {
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						background-color: $white;
						pointer-events: none;
						z-index: -1;
					}
				}

				&.has-children {
					>a {
						min-width: calc(100% - #{$lh*2}rem);
					}
					span.trigger {
						cursor: pointer;
						z-index: 1;
						display: block;
						width: #{$lh*1}rem;
						margin-left: -#{$lh*1}rem;
						background-repeat: no-repeat;
						background-size: .5em 1em;
						background-position: right .5em bottom 30%;
						background-image: svg-load('../images/svg/arrow-down.svg', stroke="#{$lauftext-color}", stroke-width="20");
					}
					.menu2 {
						visibility: hidden;
						position: absolute;
						top: 100%;
						padding: 0 0 #{math.div($lh, 2)}em 0;
						display: block;
						transition-timing-function: ease-out;
						min-width: 100%;
						box-shadow: 0 0 1em rgba($black, .2);
						// background for subnavi
						&::after {
							content: "";
							position: absolute;
							z-index: -2;
							top: -1em;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: $white;
						}
						li {
							// width: 100%;
							display: block;
							a {
								font-size: .8em;
								opacity: 0;
								display: flex;
								float: left;
								height: 0;
								overflow-y: hidden;
								will-change: height opacity;
								transition: height opacity;
								transition: height 100ms linear, opacity 100ms linear;
							}
						}
					}

					&:hover,
					&.current,
					&.section {
						span.trigger {
							background-image: svg-load('../images/svg/arrow-down.svg', stroke="#{$current-color}", stroke-width="20");
						}
					}
					&:hover,
					&:focus-within {
						.menu2 {
		// display: block;
							visibility: visible;
							z-index: 100;
							li {
								a {
									opacity: 1;
									height: calc(#{$lh}em + .7em);
								}
							}
						}
					}
				}
			}
		}
		ul.service-nav {
			margin-top: 0;
			margin-bottom: auto;

// todo remove or move down
body:not(.mobile-nav--active) & {
	@include breakpoint($XLneg) {
		display: none;
	}
}
body.mobile-nav--active & {
	order: 2;
	justify-content: flex-start;
}
			li {
				margin-right: #{$lh}em;
				&:first-of-type {
					margin-left: auto;
				}
				a {
					font-size: .8em;
					padding: .2em .5rem .1em;
					color: $white;
					@include bold;
					background-color: $link-color;
				}
				&:hover {
					a {
						background-color: darken($link-color, 2%);
					}
				}
			}
		}
		.menu-button {
			display: none;
			position: relative;
			z-index: 9900;
			align-self: flex-start;
			margin: auto 0 auto auto;
			justify-content: flex-start;
			cursor: pointer;
			@include breakpoint($Lneg) {
				display: flex;
			}
			@include breakpoint($Sneg) {
				width: 30px;
			}
			.txt {
				margin-right: #{math.div($lh, 2)}em;
				color: $lauftext-color;
				line-height: 1;
				@include breakpoint($Sneg) {
					display: none;
				}
			}
			.burger-icon {
				span {
					background-color: $lauftext-color;
				}
				@include print {
					display: none;
					&::before,
					&::after {
						display: none;
					}
				}
				@include breakpoint($Lneg) {
					display: block;
					&::before,
					&::after {
						display: block;
					}
				}
				// values need to be passed in px
				@include burger(28px, 3px, 5px, $lauftext-color, 2px);
				background-color: transparent !important;
			}
		}
	}
}



html.mobile-nav--active {
	@include breakpoint($Lneg) {
		overflow: hidden;
		// overflow-y: scroll;
		height: -webkit-fill-available;
		body {
			overflow: hidden;
			>main,
			>footer {
				height: 0;
				overflow: hidden;
			}
		}
		>main,
		>footer {
			height: 0;
			overflow: hidden;
		}
		#header {
			position: absolute;
			height: initial;
			top: 0;
			bottom: 0;
			overflow-x: hidden;
			// overflow-y: scroll; // keeping scrollbar visible
			scrollbar-gutter: stable;  // still experimental
			.inner {
				flex-direction: column;
				height: initial;
				.column {
					&.nav {
						order: 1;
						justify-content: flex-start;
						ul.menu1 {
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-items: flex-start;
							width: 100%;
							margin: #{$lh}em 0;
							>li {
								flex-wrap: wrap;
								width: 100%;
								padding-bottom: 0;
								margin: 0 0 #{math.div($lh, 2)}em 0;
								&::after {
									display: none;
								}
								a {
									text-align: left;
									font-size: 1.2em;
									@include breakpoint($Mneg) {
										padding-left: #{$lh*.5}em;
									}
								}
								>span.trigger {
									width: #{$lh*2}rem;
									margin-left: 0;
									background-size: .7em 1.4em;
									background-position: right #{$lh*.3}em bottom 30%;
									@include breakpoint($Mneg) {
										background-position: right #{$lh*.5}em bottom 30%;
									}
								}
								.menu2 {
									position: inherit;
									left: auto;
									top: auto;
									height: auto;
									background-color: transparent;
									padding-top: 0;
									box-shadow: none;
									padding: #{math.div($lh, 3)*2}em 0;
									visibility: hidden;
									display: none;
									&::after {
										display: none;
									}
									li {
										a {
											height: auto;
											font-size: 1em;
											opacity: 1;
											padding-left: #{math.div($lh, 3)*5}em;
											@include breakpoint($Mneg) {
												padding-left: #{math.div($lh, 3)*5}em;
											}
										}
									}
								}
								&.current,
								&.expanded {
									.menu2 {
										visibility: visible;
										display: table;
									}
								}
							}
						}
						.menu-button {
							position: fixed;
							top: 30px;
							right: #{$lh}em;
							outline: none;
							@include breakpoint($Mneg) {
								right: #{math.div($lh, 2)}em;
							}
							.burger-icon {
								@include burger-to-cross;
							}
						}
						ul.service-nav {
							padding-left: #{math.div($lh, 2)}em;
							margin-bottom: #{$lh*2}em;
							li {
								a {
									padding: .3em .7em;
								}
							}
						}
					}
					&.logo {
						height: $headerheight--small;
						flex: 0 0 $headerheight--small;
					}
				}
			}
		}
	}
}
