*,
*::after,
*::before {
	box-sizing: border-box;
}

.clear {
	clear: both;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// links with no href wouldn't -> onclick like cookie-consent
a {
	cursor: pointer;
}

a img {
	border: none;
}

a[href],
area[href],
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
button:not([disabled]),
[tabindex] {
// [contentEditable=true] { adds outline also in TinyMCE
	&:not([tabindex='-1']) {
		outline: none;
		&:focus-visible {
			outline: 2px solid $link-color;
		}
	}
}

a:visited,
a:focus,
a,
a img {
	text-decoration: none;
}

/*	sometimes referred to as .sr-only
	https://www.scottohara.me/blog/2023/03/21/visually-hidden-hack.html */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

a[href^="tel"],
a[href^="x-apple-data-detectors:"] {
	color: inherit;
	text-decoration: inherit;
	white-space: nowrap;
}

@page {
	size: A4;
	margin: 1cm;
	width: $inner-width;
}
@media print {
	html,
	body {
		width: 210mm;
		height: 297mm;
		max-width: 100% !important;
		min-height: 0;
	}
	body {
		color: #000;
		background: #fff;
	}
}
