/* Mixins
---------------------------------------------------------------------------------- */

/* Media queries
---------------------------------------------------------------------------------- */
@mixin respond($width, $minMax: 'min') {
	@if(type-of($width) == 'string') {
		$width: unquote($width);
	}

	@media screen and (#{$minMax}-width: $width) {
		@content;
	}
}

/* High-DPI displays
---------------------------------------------------------------------------------- */
@mixin retina($density: 1.5) {
	// Otherwise, all the pixels
	@media
		only screen and (-webkit-min-device-pixel-ratio: #{$density}),
		only screen and (   min--moz-device-pixel-ratio: #{$density}),
		only screen and (     -o-min-device-pixel-ratio: #{($density * 10)}/10),
		only screen and (        min-device-pixel-ratio: #{$density}),
		only screen and (                min-resolution: ($density * 96dpi)),
		only screen and (                min-resolution: #{$density}dppx) {
			@content;
	}
}

@mixin bold {
	font-weight: 400;
}
@mixin normal {
	font-weight: 200;
}
/* Strip 'px', 'rem' etc units from a number
---------------------------------------------------------------------------------- */
@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

@mixin iconfontsettings {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin smoothFonts {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%; /* 2 */
}

@mixin dropdown() {
	outline: none;
	appearance: none;
	border-radius: 0;
	background-repeat: no-repeat;
	background-position: top .7em right .7em;
	background-image: svg-load('../images/svg/arrow-down.svg', stroke=#{$scrolling-text-color}, stroke-width=20);
	background-size: 1.2em  .6em;
	&:-moz-focusring {
		text-shadow: 0 0 0 #000;
	}
	&::-ms-expand {
		display: none;
	}
	option {
		@include normal
	}
}

@mixin print {
	@media print {
		@content;
	}
}

@mixin ie11 {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		@content;
	}
}


@mixin small-header() {
	html:not(.mobile-nav--active) & {
		height: $headerheight--smaller;
	}
	flex: 0 0 $headerheight--smaller;
	nav.inner {
		grid-template-rows: $headerheight--smaller !important;
	}
}

@mixin separated($separator: "| ", $color: $scrolling-text-color) {
	&:not(:last-of-type) {
		@include breakpoint($Mneg) {
			flex: 0 1 100%;
		}
		&::after {
			margin: 0 #{$lh}em;
			content: "#{$separator}";
			color: $color;
			@include breakpoint($Mneg) {
				display: none;
				content: "";
			}
		}
	}
}

@mixin sliderpagination($size, $color) {
	.swiper-pagination {
		$size: $lh*.7 !default;
		$color: $white !default;
		height: #{$size*2}em;
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: #{$lh*2}em;
		z-index: 1;
		.swiper-pagination-bullet {
			width:  #{$size}em;
			height: #{$size}em;
			display: inline-block;
			border-radius: 100%;
			background-color: rgba($color, 0);
			border: 2px solid $color;
			opacity: .7;
			margin-bottom: #{$size}em;
			&:not(:last-of-type) {
				margin-right: #{$size}em;
			}
			&.swiper-pagination-bullet-active {
				opacity: 1;
				background-color: rgba($color, 1);
			}
		}
		@include breakpoint($Lneg) {
			display: none;
		}
	}
}
