/* Styles for HtmlEditorFields
---------------------------------------------------------------------------------- */
@use "sass:math";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "mixins";
@import "documents";

/* Typography
---------------------------------------------------------------------------------- */
/* The following is used by both style.scss (front-end) and editor.scss (CMS)
---------------------------------------------------------------------------------- */
.typography {
	@include normal;
	.bold,
	strong {
		@include bold;
	}

	em {
		font-style: italic;
	}

	// * PARAGRAPHS
	// -------------------------------------------- */
	p {
		font-size: 1em;
		margin: 0 0 #{$lh}em 0;
	}
	* {
		&.inline,
		&.inlinish {
			margin-bottom: 0;
		}
		&.halveinline,
		&.halvelinish {
			margin-bottom: #{math.div($lh, 2)}em;
		}
	}

	// * horizontal rule
	// -------------------------------------------- */
	hr {
		border: 0;
		border-bottom: 1px solid $gray--light;
		clear: both;
		height: 0;
		padding: calc(#{math.div($lh, 2)}em - 1px) 0 0 0;
		margin: 0 0 #{math.div($lh, 2)}em 0;
	}

	// * LINKS
	// -------------------------------------------- */
	a {
		text-decoration: none;
		// &:visited {
		// 	color: $link-color;
		// }
		&:not([class]) {
			color: $link-color;
			&:hover {
				color: $current-color;
			}
		}
	}

	// * LIST STYLES
	// -------------------------------------------- */
	ol,
	ul {
		// margin-left & -right may be affected by $inner-width--reduced
		margin: 0 0 #{$lh}em 0;
		padding: 0 0 0 #{math.div($lh, 3) * 2}em;
		li {
			line-height: $lh;
			padding: 0 0 #{math.div($lh, 4)}em #{math.div($lh, 2)}em;
			font-size: 1em;
		}
		ul {
			li {
				// font-size:.85rem;
			}
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
		list-style-position: inside;
		padding-left: 0;
	}

	dl:not(.content-parts) {
		display: grid;
		width: 100%;
		grid-template-columns: minmax(auto, 4fr) 6fr;
		grid-template-rows: repeat(auto-fit, 1fr);
		column-gap: #{$lh * 2}em;
		margin: 0 auto #{math.div($lh, 2)}em auto;
		dt {
			grid-column: 1/2;
			@include bold;
			@include breakpoint($Lneg) {
				grid-column: 1/3;
			}
		}
		dd {
			grid-column: 2/3;
			margin-left: 0;
			@include breakpoint($Lneg) {
				grid-column: 1/3;
				padding: 0 0 #{math.div($lh, 2)}em #{math.div($lh, 2)}em;
			}
		}
	}

	// * HEADER STYLES
	// -------------------------------------------- */

	h1,
	h2,
	h3,
	h4 {
		margin: 0 0 #{math.div($lh, 2)}em 0;
		color: $blue;
		@include bold;
	}
	h1 {
		font-size: clamp(1.4em, 5vw, 1.6em);
	}
	h2 {
		font-size: clamp(1.2em, 4vw, 1.41em);
	}
	h3 {
		font-size: clamp(1.1em, 3.6vw, 1.24em);
	}
	h4 {
		font-size: 1em;
		margin-bottom: 0;
	}

	// * PRE STYLES
	// -------------------------------------------- */
	pre {
		font-family: "Courier New", Courier, monospace;
		display: block;
		font-size: 1.1em;
		padding: #{math.div($lh, 2)}em;
	}

	// * TABLE STYLING
	// -------------------------------------------- */
	table {
		width: 100%;
		margin: 0 0 #{$lh}em 0;
		border-collapse: collapse;
		tr {
			td {
				font-size: $font-size--small;
				padding: 0.1em 0.2em 0.2em;
				vertical-align: top;
				border-top: 1px solid $gray--light;
				border-bottom: 1px solid $gray--light;
			}
			&:last-of-type {
				td {
					border-bottom: none;
				}
			}
			&:first-of-type {
				td {
					border-top: none;
				}
			}
		}
	}

	// * WYSIWYG EDITOR ALIGNMENT CLASSES
	// -------------------------------------------- */
	.text-left {
		text-align: left;
	}
	.center,
	.text-center {
		text-align: center;
	}
	.text-right {
		text-align: right;
	}

	// * IMAGES
	// -------------------------------------------- */
	.captionImage {
		max-width: 100%;
		img {
			margin-bottom: 0;
		}
		p {
		}
	}

	img {
		border: none;
		max-width: 100%;
		height: auto;
		margin-bottom: #{math.div($lh, 2)}em;
		&.right {
			text-align: right;
			margin-left: #{math.div($lh, 2)}em;
			&.ss-htmleditorfield-file {
				float: right;
			}
		}
		&.left {
			text-align: left;
			margin-right: #{math.div($lh, 2)}em;
			&.ss-htmleditorfield-file {
				float: left;
			}
		}
		&.leftAlone {
			margin-right: 100%;
			display: table;
		}
		&.rightAlone {
			margin-left: 100%;
			display: table;
		}
		&.center {
			float: none;
			margin-left: auto;
			margin-right: auto;
			display: table;
		}
	}
	div.embed.ss-htmleditorfield-file {
		width: 100% !important;
		margin-bottom: #{$lh}em;
		// for klaro contextual consent
		position: relative;
		iframe {
			display: block !important;
			width: 100%;
		}
		> p {
			// video caption
			padding: #{math.div($lh, 2)}em;
			background-color: $gray--lighter;
			font-size: $font-size--small;
			display: table;
			width: 100%;
		}
	}
	.split-2 {
		margin-bottom: #{$lh}em;
		p:not([class]) {
			margin-bottom: 0;
		}
		li {
			break-inside: avoid-column;
		}
		@include breakpoint($Mplus) {
			column-count: 2;
			column-gap: #{$lh * 2}em;
		}
	}

	blockquote {
		margin-bottom: #{$lh}em;
		margin-left: #{$lh * 1}em;
		border: 0;
		padding: 0;
		p {
			&::before,
			&::after {
				display: inline-block;
				background-repeat: no-repeat;
				background-size: #{$lh * .5}rem auto;
				background-position: center center;
				width: #{$lh * 1}rem;
				height: 1rem;
				content: "";
			}
			&::before {
				background-image: svg-load(
					"../images/svg/quote-before.svg",
					fill=#{$text-color}
				);
			}
			&::after {
				background-image: svg-load(
					"../images/svg/quote-after.svg",
					fill=#{$text-color}
				);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.forth {
		@include arrow-after($link-color);
		display: inline-block;
		color: #{$link-color};
	}
	.back {
		@include arrow-before($link-color);
		display: inline-block;
		color: #{$link-color};
	}
	.button {
		@include buttonstyle;
		display: inline-block;
		&:hover {
			background-color: $current-color;
		}
	}
	.boxed {
		background-color: $gray--lighter;
		padding: #{$lh * 1}em #{$lh * 2}em #{$lh * 1.1}em;
		margin: 0 0 #{$lh}em 0;
		@include breakpoint($Mneg) {
			padding: #{$lh}em #{math.div($lh, 2)}em;
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
	.small {
		font-size: $font-size--small;
	}
	.large {
		font-size: clamp(1.1em, 4vw, 1.41em);
	}
	// feahter icons
	svg.feather {
		display: inline-block;
		height: 1em;
		width: 1em;
		margin: 0.24em 0.4em 0 0;
	}
}
// placeholder feather-icons icons
[data-feather] {
	display: inline-block;
	height: 0.7em;
	width: 0.7em;
	body.mce-content-body & {
		background-color: $gray--light;
	}
}
