/* Utility Classes
---------------------------------------------------------------------------------- */

/* Occasionally handly class for forcing stuff to hide
---------------------------------------------------------------------------------- */
.h,
%h {
	// scss-lint:disable ImportantRule
	display: none !important;
}

/* Visually hide things, but leave them accessible to screenreaders
---------------------------------------------------------------------------------- */
.h-hide-visually,
%h-hide-visually {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	white-space: nowrap;
}

/* Utility class for replacing text with a background-image
---------------------------------------------------------------------------------- */
.replace,
%replace {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 150%;
}

%back {
	display: inline-block;
	&::before {
		display: inline-block;
		content: "";
		width: 0.9em;
		height: 1em;
		background-size: auto 70%;
		background-repeat: no-repeat;
		background-position: bottom .3em right 0; // rotated > top/bottom inverted
		background-image: svg-load(
			"../images/svg/arrow-forward.svg",
			stroke-width=4,
			stroke=#{$link-color}
		);
		transform: rotate(180deg);
		margin-right: 0.3em;
		vertical-align: -0.1em;
		transition: all;
		transition-duration: 0.12s;
	}
	&:hover {
		&::after {
			width: 2em;
		}
	}
}

%forth {
	display: inline-block;
	&::after {
		display: inline-block;
		content: "";
		width: 0.9em;
		height: 1em;
		background-size: auto 70%;
		background-repeat: no-repeat;
		background-position: bottom .1em right 0;
		background-image: svg-load(
			"../images/svg/arrow-forward.svg",
			stroke-width=4,
			stroke=#{$link-color}
		);
		margin-left: 0.3em;
		// vertical-align: -.1em;
		transition: all;
		transition-duration: 0.12s;
	}
	&:hover {
		&::after {
			width: 2em;
		}
	}
}
