// color contrast relations
// https://abc.useallfive.com/?colors[]=1A295A,E33666,E3A809,505050,E8E8E8,F5F5F5
// https://whocanuse.com/?b=1a295a&c=e33666&f=20&s=
$blue: rgb(26, 41, 90);
$red: rgb(225, 40, 92);
$gold: rgb(227, 168, 9);
$gray: rgb(80, 80, 80);
$gray--light: rgb(232, 232, 232);
$gray--lighter: rgb(246, 246, 246);
$white: rgb(255, 255, 255);
$black: rgb(39, 39, 39);

$link-color: $red;

$text-color: $black;
$font-size: 20px;
$font-size--small: 0.88em;
$line-height: 1.41;
$lh: $line-height;

$current-color: darken($red, 8%);
$badcolor: $gold;

$font-family: "Figtree, sans-serif";
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 600;

$headerheight: 140px; // watch-out headroom.js
$headerheight--small: 80px;
$headerheight--smaller: 80px;

$inner-width: 1280px;
$inner-width--reduced: 940px;
$inner-width--extended: 1480px;

// Breakpoint variables
// ====================================================================
$XS: 320px;
$S: 480px;
$M: 640px;
$L: 980px;
$XL: $inner-width;
$XXL: 1600px;

$XSplus: $XS;
$XSneg: (0 $XS - 1);
$Splus: $S;
$Sneg: (0 $S - 1);
$Mplus: $M;
$Mneg: (0 $M - 1);
$Lplus: $L;
$Lneg: (0 $L - 1);
$XLplus: $XL;
$XLneg: (0 $XL - 1);
$XXLplus: $XXL;
$XXLneg: (0 $XXL - 1);
